h1 {
  color: rgb(0, 217, 255);
}

.hero {
  background-color:#fff;
  height: 100vh;

  display: flex; /*libera outras açoes como o flex-box*/
  align-items: center;
}

.hero-title{
  background-color: rgb(202, 240, 247);
  text-align: center;
  padding: 5% 0;
  width: 100%;
}

.cards {
  height: 100vh;
  background-color:rgb(202, 240, 247);
  display: flex; /*libera outras açoes como o flex-box*/
  flex-direction: row;
  justify-content: space-evenly;
  /* row ----->   /  row-reverse <--------/ column é uma coluna*/
  align-items: center;
 
}

.card{
  background-color:#fff;
  width: 400px;
  height: 400px;
  text-align:center;
}
