
.cards {
  height: 60vh;
  background-color:$segunda-sass;
  display: flex; /*libera outras açoes como o flex-box*/
  flex-direction: row;
  justify-content: space-evenly;
  /* row ----->   /  row-reverse <--------/ column é uma coluna*/
  align-items: center;
  
  .card{
    background-color:$sexta-sass;
    width: 400px;
    height: 400px;
    text-align:center;
  }
}

