.contat{
  background-color: $sexta-sass;
  height: 80vh;
  align-items: center;

  form{
    
    display: flex;
    flex-direction: column;
    margin: 300px;
    padding: 0 20vw;
    align-items: center;
    
    
    *{
      background-color: $primeira-sass;
      height: 5vh;
      width: 800px;
      margin: 5px 0;
      border-radius: 10px;
    }

    button{
      background-color: $quarta-sass;
      color: $sexta-sass;
      width: 10vw;
      
    }
  }
}


