
.hero {
  background-color:$primeira-sass;
  height: 100vh;

  display: flex; /*libera outras açoes como o flex-box*/
  align-items: center;
}

.hero-title{
  background-color:$quarta-sass;
  text-align: center;
  padding: 5% 0;
  width: 100%;

  h1 {
    color:$terceira-sass;
  }

  h2 {
    color: $terceira-sass;
    background-color: $quarta-sass;
  }
}

